.section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  text-align: center;
  position: relative;
  scroll-snap-align: center;
  height: 100vh;
  height: calc(100vh - var(--vh-offset, 0px));
}
