@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  overflow: hidden;
}

.container {
  height: 100vh;
  /* If you need to support browser without CSS var support (<= IE11) */
  height: calc(100vh - var(--vh-offset, 0px));
  /* enable vh fix */
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

section {
  position: relative;
  scroll-snap-align: center;
  height: 100vh;
  /* If you need to support browser without CSS var support (<= IE11) */
  height: calc(100vh - var(--vh-offset, 0px));
  /* enable vh fix */
}
